# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
lib/bes.egg-info/

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# IDEA files
.idea/

*~